@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
  font-family: 'Roboto';
}

.col-md-4.col-md-offset-4 {
    margin-top: 85px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.col-md-4.col-md-offset-4.all {
  margin-top: 200px;
    height: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-4.col-md-offset-4.pass.new {
  margin-top: 200px;
    height: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-4.col-md-offset-4.pass.edit {
  margin-top: 120px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper.col-md-4.col-md-offset-4.col-sm-10.all {
  margin-top: 100px;
    height: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper.col-md-4.col-md-offset-4.col-sm-10.registration {
    margin-top: 100px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 10px 40px;
  margin-top: 30px; /*Remove, its example*/
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid.confirmation {
  margin-bottom: 333px;
}

.container-fluid.password {
  margin-bottom: 338px;
}

.input-group {
    margin-bottom: 5px;
    background-color: #87CEFA;
}

.addon-facebook {
  background-color: #345387;
  border: none;
  border-radius: 2px 0px 0px 2px;
  color: #fff;
}

.btn-facebook {
  border-radius: 0px 0px 0px 0px;
  font-size: 18px;
 .btn-facebook:hover {
  background-color: #F0F8FF;
  color: #fff;
  border-radius: 0px 2px 2px 0px;
  font-size: 15px;
 }
}

.addon-twitter {
  background-color: #00c6e9;
  border: none;
  border-radius: 2px 0px 0px 2px;
  color: #fff;
}

.btn-twitter {
  border-radius: 0px 0px 0px 0px;
  font-size: 18px;
 .btn-twitter:hover {
  background-color: #F0F8FF;
  color: #fff;
  border-radius: 0px;
  font-size: 15px;
 }
}

.field-devise {
    margin-top: 25px;
}

.field-registration {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
  border-radius: 2px;
  background-color: #23a9f6;
  border-color: #23a9f6;
  margin: 60px 5px;
}

a {
  color: #23a9f6;
}

.divider-form {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}

.label {
  margin-bottom: 0;
}

.form-control {
    font-color: #fff;
    background: none;
    height: 35px;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    box-shadow: none;
}

.autofocus.email {
    width: 330px;
    height: 36px;
}

.field-sign-up {
    margin-top: 15px;
}

.field.img {
    width: 150px;
    height: 105px;
    margin-left: 95px;
}

.field-registration {
    margin-top: 5px;
    margin-bottom: 5px;
}

.field-registration.img {
    width: 30%;
    height: 45%;
    margin-left: 36%;
    margin-bottom: 0px;
}

.field-registration.under {
    width: 230px;
    margin-left: -60%;
}

.actions.comfirmation {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1E90FF;
}

.btn.btn-default.btn-sm.btn.btn-danger-delete {
    width: 222px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.password.main {
  padding-top: 1px;
}

.password.under {
  padding-bottom: 10px;
}