.container-index {
    height: 1150px;
}

.col-lg-12-main {
    margin-left: 5px;
    margin-right: 5px;
}

.col-md-6.portfolio-item {
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 5px;
}

.box{
    margin-top: 40px;
}

.row-quarter {
}

.btn-group {
    margin-right: 64%;
    height: 40px;
    margin-top: -73px;
    background-color: #F0F8FF;
}

.btn.btn-default-main {
    font-family: "ＭＳ P明朝",serif;
	height: 45px;
	background-color: #F0F8FF;
    border-color: #ccc;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 4px #C0C0C0;
    border-radius: 5px;
}

.btn.btn-default.dropdown-toggle {
    font-family: "ＭＳ P明朝",serif;
	height: 45px;
    background-color: #F0F8FF;
    display: inline-block;
    text-decoration: none;
    border-bottom: solid 4px #C0C0C0;
    border-radius: 5px;
}
.btn.btn-default.dropdown-toggle:active { -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px); box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); border-bottom: none;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 5px 0px;
}